@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap");
/* -------------------- CLASES COMPARTIDAS -------------------- */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #faf4f4;
  font-family: "Dela Gothic One", cursive;
  font-weight: normal;
  display: grid;
}

.header__updown,
.header__location {
  color: #0398b3;
}

.headline-pages {
  font-size: 7.5rem;
  text-shadow: 5px 2px #7d50b9;
  color: #faf4f4;
  border-left: 3px solid #af0e7c;
  border-right: 3px solid #0398b3;
  background: rgba(1, 1, 1, 0.5019607843);
  text-align: center;
  padding: 0 15px;
  text-decoration: underline;
  margin-bottom: 100px;
  text-transform: uppercase;
  backdrop-filter: blur(8px);
}

.menu__image,
.calendar__calendar-iframe {
  border: 5px solid #f5deb3;
  border-radius: 5px;
}

.article-two,
.article-one,
.menu__beer-container,
.menu__pizza-container,
.calendar__container,
.gallery,
.carousel-container--margin {
  border: 1.5px solid #a7a7a7;
  border-radius: 25px;
  box-shadow: -1px 1px 15px #a7a7a7;
}

.menu__beer-container,
.menu__pizza-container {
  text-align: center;
}

/* --------------------------- HEADER ---------------------------*/
.header-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: url("../images/up-down-cover.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  border: 0.4rem solid #faf4f4;
  border-radius: 25px;
  max-width: 2500px;
  margin: 2px auto 5px;
  animation: flicker 3.5s infinite alternate;
  font-family: "Tourney", cursive;
  text-transform: uppercase;
}

.header__updown {
  font-size: 10rem;
}

.header__location {
  font-size: 3rem;
}

.header__insert-coin {
  font-size: 3rem;
  text-shadow: none;
  -webkit-text-stroke: 1px #111010;
  -webkit-text-fill-color: rgb(255, 255, 0);
  filter: brightness(125%);
  animation: insert-coin 3s linear infinite;
  display: none;
}

.header__img--size {
  width: 115px;
  height: 115px;
  margin: auto 15px;
}

/* --------------------------- NAV BAR ---------------------------*/
nav {
  margin-bottom: 50px;
}
nav .nav-bar__list-item {
  text-align: center;
  font-family: "Tourney", cursive;
  font-size: 2.5rem;
  text-shadow: 2px 2px #7d50b9;
  height: 40px;
}
nav .nav-bar__list-item:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.411);
}
nav .nav-bar__links-list a {
  text-decoration: none;
  color: inherit;
}
nav .nav-bar__links-list a:visited {
  text-decoration: none;
  color: inherit;
}
nav .nav-bar__links-list a:hover {
  text-decoration: none;
  color: inherit;
}

.nav-bar__icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("../images/hamburguer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.7;
}

.nav-bar__logo {
  width: 40px;
  height: 40px;
}

.toggler-icon--color {
  border: 2.5px solid #faf4f4;
}

.nav-bar__bg-color {
  background: #111010;
}

/* -------------------- FOOTER -------------------- */
.footer {
  background: #111010;
  border-top: solid 3px #111010;
  text-shadow: 1px 1px #7d50b9;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "cont cont cont" "hours contact address";
  width: 100%;
  padding: 25px;
}

.footer__content {
  border-right: 3px solid #0398b3;
  border-left: 3px solid #0398b3;
  grid-area: cont;
}

.footer__hours {
  grid-area: hours;
}

.footer__contact {
  grid-area: contact;
}

.footer__address {
  grid-area: address;
}

.footer__hours,
.footer__contact,
.footer__address,
.footer__content {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.footer__heading {
  font-size: 4rem;
  line-height: 3rem;
}

.footer__social-parrafo {
  max-width: 500px;
  line-height: 35px;
  font-size: 2rem;
  padding-top: 15px;
}

.footer__list-social {
  list-style: none;
  display: flex;
  padding-top: 20px;
}
.footer__list-social .footer___list-item {
  margin: 0 10px;
}

.footer__list-icon {
  font-size: 40px;
  transition: color 0.5s ease;
  color: #faf4f4;
  -webkit-box-reflect: below 2px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.footer__headings {
  font-size: 2rem;
  display: block;
  margin-bottom: 15px;
  text-decoration: underline;
}

.footer__parrafos {
  font-size: 1.3em;
  line-height: 3rem;
}

.footer__iframe-location {
  display: none;
}

.footer__bottom {
  background: #111010;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer__bottom .footer__copyright-parrafo {
  font-size: 1.4rem;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer__bottom .footer__author {
  text-transform: uppercase;
  opacity: 0.4;
}

/*? ------------------------------------- CSS INDEX.HTML ------------------------------------- */
/* --------------------------- SECTION I --------------------------- */
.article-one {
  background: rgba(1, 1, 1, 0.5019607843);
  width: 95%;
  max-width: 1700px;
  height: auto;
  margin: 0 auto 150px;
  padding: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  gap: 3em;
  backdrop-filter: blur(8px);
  border-radius: 50px;
}

.article-one-subhead {
  font-size: 4.5rem;
  text-shadow: 5px 2px #7d50b9;
  color: #faf4f4;
  border-left: 3px solid #af0e7c;
  border-right: 3px solid #028299;
  padding: 0 15px;
  text-align: center;
  order: 1;
}
.article-one-subhead .span-subhead {
  color: #32d8e0;
  text-decoration: underline;
}

[class*=parrafo-] {
  font-size: 2em;
  color: #cdcdcd;
  text-shadow: 1px 1px #7d50b9;
  padding: 25px;
  box-shadow: -3px 1px 10px #028299;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

.parrafo-one {
  order: 3;
}

.parrafo-two {
  order: 4;
}

.parrafo-three {
  order: 5;
}

.parrafo-four {
  order: 6;
}

.parrafo-five {
  order: 7;
}

.parrafo-six {
  order: 8;
}

.aside-one {
  background-image: url("https://assets.codepen.io/t-1/freddy-g-lhy1lY3CyLI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 5rem;
  width: 350px;
  height: 500px;
  margin: 5px 20px;
  border-radius: 5px;
  border: 3px solid #f5deb3;
  order: 2;
  margin: auto;
}
.aside-one .aside-one__parrafo {
  font-size: 3rem;
  background: rgba(1, 1, 1, 0.5019607843);
  text-shadow: 5px 2px #af0e7c;
  margin-top: 325px;
}
.aside-one .aside-one__parrafo .aside-one__photo-by {
  font-size: 1rem;
  background: #111010;
  text-shadow: 2px 1px #af0e7c;
  display: block;
}

/* --------------------------- SECTION II --------------------------- */
/* ------------------- SLIDER SPECIALS ------------------- */
.article-two {
  position: relative;
  margin: 0 auto 150px;
  width: 98%;
  max-width: 1920px;
}
.article-two:before {
  content: "";
  background-image: url("../images/slider-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.article-two__headline {
  font-size: 4.5rem;
  text-shadow: 5px 2px #7d50b9;
  border-left: 5px solid #af0e7c;
  border-right: 5px solid #028299;
  background: rgba(1, 1, 1, 0.5019607843);
  padding: 50px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px 25px 0 0;
  text-decoration: underline;
}

.article-two__slider {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px auto;
  border: 3px solid #f5deb3;
}
.article-two__slider .article-two__slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.article-two__slider .article-two__slides input {
  display: none;
}

.article-two__slide {
  width: 20%;
  transition: 2s;
}
.article-two__slide .article-two__image {
  width: 450px;
  height: 450px;
}

/* ------------------------- CSS SLIDER MANUAL ------------------------- */
.article-two__slider--navigation-manual {
  position: absolute;
  width: 450px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.article-two__slider--navigation-manual .manual-btn {
  border: 2px solid #faf4f4;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.article-two__slider--navigation-manual .manual-btn:hover {
  background: #40d3dc;
}
.article-two__slider--navigation-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

#radio6:checked ~ .first {
  margin-left: -100%;
}

/* ------------------------- CSS SLIDER AUTO ------------------------- */
.article-two__slider--navigation-auto {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: center;
  margin-top: 460px;
}
.article-two__slider--navigation-auto .article-two__slider--auto-btn {
  border: 2px solid #faf4f4;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.article-two__slider--navigation-auto .article-two__slider--auto-btn:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .article-two__slider--navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .article-two__slider--navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .article-two__slider--navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .article-two__slider--navigation-auto .auto-btn4 {
  background: #40d3dc;
}

#radio5:checked ~ .article-two__slider--navigation-auto .auto-btn5 {
  background: #40d3dc;
}

#radio6:checked ~ .article-two__slider--navigation-auto .auto-btn6 {
  background: #40d3dc;
}

/*? ------------------------------------- CSS MENU.HTML ------------------------------------- */
.menu {
  width: 90%;
  margin: auto;
  max-width: 1920px;
}

.menu__image {
  margin: 0 auto 100px;
  width: 80%;
}

.menu__headings {
  border-radius: 15px 15px 0 0;
  padding-top: 55px;
}

.menu__beer-container {
  background: url("../images/beer-taps.jpg");
  background-size: cover;
}

.menu__pizza-container {
  background: url("../images/pizza.jpg");
  background-size: cover;
}

.menu__beer-container,
.menu__pizza-container {
  border-radius: 15px;
  margin-bottom: 50px;
}

/*? -------------------------------- CSS EVENTS.HTML -------------------------------- */
events-container {
  margin: 0 auto;
  width: 90%;
}

.calendar__calendar-iframe {
  margin-bottom: 150px;
  width: 85%;
  height: 500px;
}

.calendar__container {
  text-align: center;
  margin-bottom: 150px;
  background: url("../images/events.jpg");
  border-radius: 0px;
  height: 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*? -------------------------------- CSS GALLERY.HTML -------------------------------- */
.gallery-container {
  width: 100%;
  height: 100%;
  background: url("../images/arcades.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-headline {
  backdrop-filter: blur(5px);
}

.gallery {
  width: 90%;
  padding: 10px;
  margin: 0 auto 100px;
  background: rgba(1, 1, 1, 0.5019607843);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  border-radius: 15px;
  backdrop-filter: blur(8px);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.v-stretch {
  grid-row: span 1;
}

.h-stretch {
  grid-column: span 1;
}

.big-stretch {
  grid-column: span 1;
  grid-row: span 1;
}

/*? -------------------------------- CSS CONTACT.HTML -------------------------------- */
.contact-heading {
  margin-bottom: 0;
}

.contact-us__container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  margin-bottom: 250px;
}
.contact-us__container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/alt-background.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.contact-us__box {
  width: 500px;
  max-width: 1080px;
  background: rgba(1, 1, 1, 0.5019607843);
  box-shadow: 0px 0px 19px 5px rgba(1, 1, 1, 0.5019607843);
  border-radius: 5px;
  border: 2px solid #f5deb3;
  margin-bottom: 100px;
}

.contact-us__left {
  margin: 25px;
  height: 15%;
  background: url("../images/up-down-minneapolis.png") no-repeat center;
  background-size: contain;
}

.contact-us__right {
  padding: 25px 55px;
}

.contact-us__heading {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-shadow: 4px 2px #7d50b9;
  color: #faf4f4;
  text-align: center;
}
.contact-us__heading:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background: #028299;
}

.contact-us__city-select,
.contact-us__fieldset,
.contact-us__subscribe--br {
  margin-bottom: 20px;
}

.contact-us__subscribe {
  display: block;
}

.contact-us__field {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border: 2px solid #111010;
  background: #faf4f4;
  font-size: 2rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.contact-us__field:hover {
  background: #a7a7a7;
}
.contact-us__field:focus {
  background: #faf4f4;
  border: 2px solid #7d50b9;
}

.contact-us__area {
  min-height: 150px;
}

.btn-contact, .contact-us__btn--cancel, .contact-us__btn--submit {
  font-family: "Press Start 2P", cursive;
  width: 100%;
  padding: 8px 16px;
  font-size: 2rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  transition: 0.3s;
}
.btn-contact:hover, .contact-us__btn--cancel:hover, .contact-us__btn--submit:hover {
  cursor: pointer;
}

.contact-us__btn--submit {
  color: #faf4f4;
  background-color: #0398b3;
  margin-bottom: 5px;
}
.contact-us__btn--submit:hover {
  background: #028299;
}

.contact-us__btn--cancel:hover {
  background: #a7a7a7;
}

/*? -------------------------------- CSS PRIVACY-POLICY.HTML -------------------------------- */
.privacy-policy__link {
  color: inherit;
}
.privacy-policy__link:hover {
  text-decoration: underline;
}

.privacy-policy__heading {
  font-size: 3em;
  margin-bottom: 50px;
}

.privacy-policy__heading,
.faqs-footer {
  text-shadow: 1px 1px #af0e7c;
}

.carousel-container--margin {
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 0;
}

.carousel__heading {
  font-size: 2rem;
  text-shadow: 1px 1px #af0e7c;
}

.carousel__text {
  font-size: 2rem;
  color: #faf4f4;
  text-shadow: 1px 1px #af0e7c;
  display: none;
}

.carousel__text--bg {
  background: rgba(1, 1, 1, 0.5019607843);
  backdrop-filter: blur(8px);
}

.accordion {
  --bs-accordion-bg: map-get($map: $colorPalette, $key: "lightBlack");
  backdrop-filter: blur(8px);
}

.accordion-item {
  font-size: 1em;
  border: 2px solid #111010;
}

.accordion-button {
  font-size: 1.2em;
  background: #faf4f4;
}
.accordion-button:not(.collapsed) {
  color: #faf4f4;
  background: #111010;
}

.accordion-body p {
  color: rgb(196, 196, 196);
  text-shadow: 1px 1px #af0e7c;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.accordion-body p a {
  color: #faf4f4;
  text-shadow: 1px 1px #af0e7c;
}

/*? -------------------------------- FINAL CSS PAGES -------------------------------- */
/* --------------------------------- FINAL CSS PAGES -------------------------------- */
/*TODO -------------------------------- ANIMATIONS -------------------------------- TODO*/
@keyframes gameover {
  50% {
    opacity: 0;
  }
}
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 99%, 100% {
    text-shadow: -0.1rem -0.1rem 1rem #faf4f4, 0.2rem 0.2rem 1rem #faf4f4, 0 0 2rem #0398b3, 0 0 4rem #0398b3, 0 0 6rem #0398b3, 0 0 8rem #0398b3, 0 0 10rem #0398b3;
    box-shadow: 0 0 0.5rem #faf4f4, inset 0 0 0.5rem #faf4f4, 0 0 2rem #af0e7c, inset 0 0 2rem #af0e7c, 0 0 4rem #af0e7c, inset 0 0 4rem #af0e7c;
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes insert-coin {
  25%, 75% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
@keyframes insert-coin-opacity {
  0% {
    opacity: 1;
  }
}
/*TODO -------------------------------- MEDIA-BREAKPOINTS -------------------------------- TODO*/
/*? -------------------------------- PRIMER BREAK-POINT -------------------------------- */
@media screen and (min-width: 450px) {
  /* -------------------------------- PRIVACY-POLICY.HTML -------------------------------- */
  .privacy-policy__heading {
    font-size: 4.5em;
  }
  .carousel__heading {
    font-size: 3.5em;
  }
}
/*? -------------------------------- SECOND BREAK-POINT -------------------------------- */
@media screen and (min-width: 768px) {
  /* -------------------------------- INDEX.HTML -------------------------------- */
  .header-container {
    height: 600px;
  }
  .header__updown {
    font-size: 20rem;
  }
  .header__location {
    font-size: 5rem;
  }
  nav .nav-bar__list-item {
    box-shadow: -2px -2px 0px #af0e7c, 2px 2px 0px #0398b3;
    width: 245px;
  }
  nav .nav-bar__list-item:not(:last-child) {
    border-bottom: none;
  }
  nav .nav-bar__list-item:hover {
    cursor: pointer;
    background: #faf4f4;
    color: #111010;
    box-shadow: -2px -2px 0px #0398b3, 2px 2px 0px #af0e7c;
    transition: background-color 0.5s ease;
  }
  nav .nav-bar__list-item:not(:last-child) {
    margin-right: 30px;
  }
  .nav-bar__links-list {
    background: rgba(1, 1, 1, 0.5019607843);
  }
  .nav-bar__logo {
    display: none;
  }
  .nav-bar__bg-color {
    background: rgba(1, 1, 1, 0.5019607843);
  }
  .nav-bar__list-item--not-current {
    background: rgba(1, 1, 1, 0.5019607843);
  }
  .nav-bar__list-item--current {
    background-color: #faf4f4;
    color: #111010;
  }
  .article-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "subhead aside" "pf1 pf2" "pf3 pf4" "pf5 pf6";
  }
  .article-one-subhead {
    grid-area: subhead;
    text-align: left;
    font-size: 7.5rem;
  }
  .aside-one {
    grid-area: aside;
    width: 600px;
    height: 900px;
  }
  .aside-one .aside-one__parrafo {
    margin-top: 600px;
    font-size: 5.5rem;
  }
  .aside-one .aside-one__parrafo .aside-one__photo-by {
    font-size: 1.5rem;
  }
  .parrafo-one {
    grid-area: pf1;
  }
  .parrafo-two {
    grid-area: pf4;
  }
  .parrafo-three {
    grid-area: pf3;
  }
  .parrafo-six {
    grid-area: pf2;
  }
  .article-two {
    width: 95%;
  }
  .article-two__headline {
    font-size: 7rem;
  }
  .footer__parrafos {
    font-size: 2rem;
  }
  /* -------------------------------- MENU.HTML -------------------------------- */
  .menu {
    width: 95%;
    display: flex;
    justify-content: space-around;
    column-gap: 25px;
    margin: 0 auto;
  }
  .menu__beer-container {
    width: 50%;
  }
  .menu__pizza-container {
    width: 50%;
  }
  /* -------------------------------- EVENTS.HTML -------------------------------- */
  .calendar__calendar-iframe {
    height: 600px;
  }
  .calendar__container {
    height: 80%;
  }
  /* -------------------------------- GALLERY.HTML -------------------------------- */
  .v-stretch {
    grid-row: span 2;
  }
  .h-stretch {
    grid-column: span 2;
  }
  .big-stretch {
    grid-row: span 2;
    grid-column: span 2;
  }
  .gallery {
    max-width: 1300px;
  }
  .contact-us__box {
    width: auto;
  }
  /* -------------------------------- PRIVACY-POLICY.HTML -------------------------------- */
  .privacy-policy__heading {
    font-size: 6.5em;
  }
  .carousel__text {
    display: block;
    font-size: 1.8em;
  }
  .accordion-body p {
    text-align: left;
  }
}
/*? -------------------------------- THIRD BREAK-POINT -------------------------------- */
@media screen and (min-width: 1024px) {
  /* -------------------------------- INDEX.HTML -------------------------------- */
  .header-container {
    justify-content: space-around;
    height: auto;
    width: 99%;
  }
  .header__updown {
    font-size: 30rem;
  }
  .header__location {
    font-size: 5rem;
  }
  .header__insert-coin {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .article-one {
    grid-template-areas: "subhead aside" "pf1 aside" "pf2 pf3" "pf4 pf5" "pf6 pf6";
  }
  .article-one-subhead {
    grid-area: subhead;
  }
  .aside-one {
    grid-area: aside;
    margin: auto;
  }
  [class*=parrafo-] {
    text-align: left;
    font-size: 2rem;
  }
  .parrafo-one {
    grid-area: pf2;
  }
  .parrafo-two {
    grid-area: pf1;
    height: 100%;
  }
  .parrafo-three {
    grid-area: pf6;
  }
  .parrafo-four {
    grid-area: pf4;
  }
  .parrafo-five {
    grid-area: pf5;
  }
  .parrafo-six {
    grid-area: pf3;
  }
  .article-two__headline {
    font-size: 9rem;
  }
  .footer__hours,
.footer__contact,
.footer__address,
.footer__content {
    padding: 25px;
    align-items: flex-start;
    text-align: start;
  }
  .footer__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer__parrafos {
    font-size: 1.5rem;
  }
  .footer__list-icon:hover {
    color: #0398b3;
  }
  .footer__iframe-location {
    display: block;
  }
  /* -------------------------------- EVENTS.HTML -------------------------------- */
  .events-container {
    width: 100%;
  }
  .calendar__calendar-iframe {
    max-width: 1000px;
  }
  .calendar__container {
    height: 85%;
  }
  /* -------------------------------- CONTACT.HTML -------------------------------- */
  .contact-us__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-us__left {
    height: 100%;
    margin: 0 0 0 25px;
  }
  .contact-us__right {
    padding: 25px 40px;
  }
}
/*? -------------------------------- CUARTO BREAK-POINT -------------------------------- */
@media screen and (min-width: 1400px) {
  /* -------------------------------- GALLERY.HTML -------------------------------- */
  .gallery {
    width: 100%;
  }
  /* -------------------------------- PRIVACY-POLICY.HTML -------------------------------- */
  .privacy-policy__heading {
    font-size: 7.5em;
  }
  .carousel-container--mb {
    margin-bottom: 100px;
  }
  .carousel__heading {
    font-size: 5rem;
  }
  .carousel__text {
    font-size: 2.5em;
  }
}

/*# sourceMappingURL=style.css.map */
