/*TODO -------------------------------- ANIMATIONS -------------------------------- TODO*/

@keyframes gameover {
  50% {
    opacity: 0;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  99%,
  100% {
    text-shadow: -0.1rem -0.1rem 1rem map-get($map: $colorPalette, $key: "white"),
      0.2rem 0.2rem 1rem map-get($map: $colorPalette, $key: "white"),
      0 0 2rem map-get($map: $colorPalette, $key: "neonCyan"),
      0 0 4rem map-get($map: $colorPalette, $key: "neonCyan"),
      0 0 6rem map-get($map: $colorPalette, $key: "neonCyan"),
      0 0 8rem map-get($map: $colorPalette, $key: "neonCyan"),
      0 0 10rem map-get($map: $colorPalette, $key: "neonCyan");

    box-shadow: 0 0 0.5rem map-get($map: $colorPalette, $key: "white"),
      inset 0 0 0.5rem map-get($map: $colorPalette, $key: "white"),
      0 0 2rem map-get($map: $colorPalette, $key: "magenta"),
      inset 0 0 2rem map-get($map: $colorPalette, $key: "magenta"),
      0 0 4rem map-get($map: $colorPalette, $key: "magenta"),
      inset 0 0 4rem map-get($map: $colorPalette, $key: "magenta");
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes insert-coin {
  25%,
  75% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
