/*? -------------------------------- CSS EVENTS.HTML -------------------------------- */
events-container {
  margin: 0 auto;
  width: 90%;
}

.calendar__calendar-iframe {
  margin-bottom: 50px;
  width: 90%;
  height: 350px;
}

.calendar__container {
  text-align: center;
  margin-bottom: 50px;
  background: url("../images/events.jpg");
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
