@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap");

$fontPressStart: "Press Start 2P", cursive;
$fontTourney: "Tourney", cursive;
$fontDeLaGothic: "Dela Gothic One", cursive;
