/*? ------------------------------------- CSS INDEX.HTML ------------------------------------- */
/* --------------------------- SECTION I --------------------------- */

.article-one {
  background: map-get($map: $colorPalette, $key: "lightBlack");
  width: 95%;
  max-width: 1700px;
  height: auto;
  margin: 0 auto 150px;
  padding: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  gap: 3em;
  backdrop-filter: blur(8px);
  border-radius: 50px;
}

.article-one-subhead {
  font-size: 4.5rem;
  text-shadow: 5px 2px map-get($map: $colorPalette, $key: "purple");
  color: map-get($map: $colorPalette, $key: "white");
  border-left: 3px solid map-get($map: $colorPalette, $key: "magenta");
  border-right: 3px solid map-get($map: $colorPalette, $key: "cyan");
  padding: 0 15px;
  text-align: center;
  order: 1;
  .span-subhead {
    color: #32d8e0;
    text-decoration: underline;
  }
}

[class*="parrafo-"] {
  font-size: 2em;
  color: map-get($map: $colorPalette, $key: "text");
  text-shadow: 1px 1px map-get($map: $colorPalette, $key: "purple");
  padding: 25px;
  box-shadow: -3px 1px 10px map-get($map: $colorPalette, $key: "cyan");
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

.parrafo-one {
  order: 3;
}

.parrafo-two {
  order: 4;
}

.parrafo-three {
  order: 5;
}

.parrafo-four {
  order: 6;
}

.parrafo-five {
  order: 7;
}
.parrafo-six {
  order: 8;
}

.aside-one {
  background-image: url("https://assets.codepen.io/t-1/freddy-g-lhy1lY3CyLI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: $textLarge;
  width: 350px;
  height: 500px;
  margin: 5px 20px;
  border-radius: 5px;
  border: 3px solid map-get($map: $colorPalette, $key: "borderWheat");
  order: 2;
  margin: auto;
  .aside-one__parrafo {
    font-size: 3rem;
    background: map-get($map: $colorPalette, $key: "lightBlack");
    text-shadow: 5px 2px map-get($map: $colorPalette, $key: "magenta");
    margin-top: 325px;
    .aside-one__photo-by {
      font-size: 1rem;
      background: map-get($map: $colorPalette, $key: "darkBlack");
      text-shadow: 2px 1px map-get($map: $colorPalette, $key: "magenta");
      display: block;
    }
  }
}

/* --------------------------- SECTION II --------------------------- */
/* ------------------- SLIDER SPECIALS ------------------- */

.article-two {
  position: relative;
  margin: 0 auto 150px;
  width: 98%;
  max-width: 1920px;
  &:before {
    content: "";
    background-image: url("../images/slider-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
}

.article-two__headline {
  font-size: 4.5rem;
  text-shadow: 5px 2px map-get($map: $colorPalette, $key: "purple");
  border-left: 5px solid map-get($map: $colorPalette, $key: "magenta");
  border-right: 5px solid map-get($map: $colorPalette, $key: "cyan");
  background: map-get($map: $colorPalette, $key: "lightBlack");
  padding: 50px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px 25px 0 0;
  text-decoration: underline;
}

.article-two__slider {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px auto;
  border: 3px solid map-get($map: $colorPalette, $key: "borderWheat");
  .article-two__slides {
    width: 500%;
    height: 500px;
    display: flex;
    input {
      display: none;
    }
  }
}

.article-two__slide {
  width: 20%;
  transition: 2s;
  .article-two__image {
    width: 450px;
    height: 450px;
  }
}

/* ------------------------- CSS SLIDER MANUAL ------------------------- */

.article-two__slider--navigation-manual {
  position: absolute;
  width: 450px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  .manual-btn {
    border: 2px solid map-get($map: $colorPalette, $key: "white");
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      background: map-get($map: $colorPalette, $key: "sliderCyan");
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio6:checked ~ .first {
  margin-left: -100%;
}

/* ------------------------- CSS SLIDER AUTO ------------------------- */

.article-two__slider--navigation-auto {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: center;
  margin-top: 460px;
  .article-two__slider--auto-btn {
    border: 2px solid map-get($map: $colorPalette, $key: "white");
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
}

.article-two__slider--navigation-auto {
  .article-two__slider--auto-btn {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

#radio1:checked ~ .article-two__slider--navigation-auto .auto-btn1 {
  background: map-get($map: $colorPalette, $key: "sliderCyan");
}

#radio2:checked ~ .article-two__slider--navigation-auto .auto-btn2 {
  background: map-get($map: $colorPalette, $key: "sliderCyan");
}

#radio3:checked ~ .article-two__slider--navigation-auto .auto-btn3 {
  background: map-get($map: $colorPalette, $key: "sliderCyan");
}

#radio4:checked ~ .article-two__slider--navigation-auto .auto-btn4 {
  background: map-get($map: $colorPalette, $key: "sliderCyan");
}

#radio5:checked ~ .article-two__slider--navigation-auto .auto-btn5 {
  background: map-get($map: $colorPalette, $key: "sliderCyan");
}

#radio6:checked ~ .article-two__slider--navigation-auto .auto-btn6 {
  background: map-get($map: $colorPalette, $key: "sliderCyan");
}
