/*? -------------------------------- CSS PRIVACY-POLICY.HTML -------------------------------- */
.privacy-policy__link {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
.privacy-policy__heading {
  font-size: 3em;
  margin-bottom: 50px;
}

.privacy-policy__heading,
.faqs-footer {
  background: $lightBlack;
  text-shadow: 1px 1px $neonMagenta;
}

.carousel-container--margin {
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 0;
}

.carousel__heading {
  font-size: $textSmall;
  text-shadow: 1px 1px $neonMagenta;
}

.carousel__text {
  font-size: $textSmall;
  color: $white;
  text-shadow: 1px 1px $neonMagenta;
  display: none;
}

.carousel__text--bg {
  background: $lightBlack;
  backdrop-filter: blur(8px);
}

.accordion {
  --bs-accordion-bg: $lightBlack;
  backdrop-filter: blur(8px);
}

.accordion-item {
  font-size: 1em;
  border: 2px solid $darkBlack;
}

.accordion-button {
  font-size: 1.2em;
  background: $white;
  &:not(.collapsed) {
    color: $white;
    background: $darkBlack;
  }
}

.accordion-body {
  p {
    color: rgb(196, 196, 196);
    text-shadow: 1px 1px #af0e7c;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    a {
      color: $white;
      text-shadow: 1px 1px $neonMagenta;
    }
  }
}

/*? -------------------------------- FINAL CSS PAGES -------------------------------- */
/* --------------------------------- FINAL CSS PAGES -------------------------------- */
