// ---------------------------VARIABLES GLOBALES

// ---------------------------NEON SET COLORS
$neonTextColor: #0398b3;
$neonBorderColor: #08f;
$neonMagenta: #af0e7c;
$neonCyan: #028299;
$borderColor: #f5deb3;
$sliderBtnColor: #40d3dc;

$borderArticleColor: rgb(167, 167, 167);
$textColor: #cdcdcd;
$subheadTextShadow: #7d50b9;

// ---------------------------BASE COLORS

$darkBlack: rgb(17, 16, 16);
$lightBlack: rgba(1, 1, 1, 0.5);
$white: rgb(250, 244, 244);

// ---------------------------FONTS SIZE

$textXsmall: 1.5rem;
$textSmall: 2rem;
$textMedium: 3rem;
$textLarge: 5rem;

// ---------------------------SIZE
